<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.enou.alpha.repository.ext.UserThirdInfoExt">
    <insert id="save" parameterType="fun.enou.alpha.dto.dtodb.DtoDbUserThirdInfo">
		insert into euser_third_info (user_id, third_party, third_account)
		values (#{userId}, #{thirdParty}, #{thirdAccount})
		on duplicate key 
		update third_account = #{thirdAccount}
    </insert>
    
   	<select id="find" parameterType="fun.enou.alpha.dto.dtodb.DtoDbUserThirdInfo" resultType="fun.enou.alpha.dto.dtodb.DtoDbUserThirdInfo">
   		select * from euser_third_info 
   		where user_id = #{userId} and third_party = #{thirdParty}
    </select>
</mapper>