<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fun.enou.alpha.repository.ext.UserWordExt">
    <insert id="save" parameterType="fun.enou.alpha.dto.dtodb.ext.DtoDbUserWord">
      insert into euser_word (user_id, word_id)
      values (#{userId}, #{wordId})
      on duplicate key 
      update word_id = #{wordId};
    </insert>
    
    <select id="getAllWordList" parameterType="Long" resultType="Integer">
   		select word_id from euser_word 
   		where user_id = #{userId};
    </select>
</mapper>